.elementor-1561 .elementor-element.elementor-element-9e00e51 > .elementor-container {min-height: 100vh;}
.elementor-1561 .elementor-element.elementor-element-9e00e51 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-1561 .elementor-element.elementor-element-674ffbd {text-align: center;}
.elementor-1561 .elementor-element.elementor-element-674ffbd .elementor-image img {border-radius: 100px 100px 100px 100px;}
.ee-tooltip.ee-tooltip-674ffbd.to--top, .ee-tooltip.ee-tooltip-674ffbd.to--bottom {margin-left: 0px;}
.ee-tooltip.ee-tooltip-674ffbd.to--left, .ee-tooltip.ee-tooltip-674ffbd.to--right {margin-top: 0px;}
body:not(.rtl) .elementor-1561 .elementor-element.elementor-element-e626f75 {left: 328px;}
body.rtl .elementor-1561 .elementor-element.elementor-element-e626f75 {right: 328px;}
.elementor-1561 .elementor-element.elementor-element-e626f75 {top: 223px;}